<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16rem;
  color: white;
  text-align: center;
  padding: 14rem 16rem;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16rem;  
  border: none;
  outline: none;
  color: white;
  padding: 14rem 16rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: .5rem;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160rem;
  box-shadow: 0rem 8rem 16rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
}

.menu a {
  float: none;
  color: black;
  padding: 12rem 16rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu a:hover {
  background-color: #ddd;
}

.dropdown:hover .menu {
  display: block;
}

#title a:hover{
	background-color: ;
}
</style>